.main-menu {
    height:30%;
    width: 100%;
    padding: 10px;
    display:grid ;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    justify-content: space-between;
    background-color: rgb(53, 50, 50)  ;
}
nav .navbar-brand{
    color:rgb(215, 105, 127);
    grid-column: 2/3;
    font-size:22px;
    display: flex;
    justify-content: start;
    align-items: center;

}
.menu-links{
    grid-column: 3/4;
}
.menu-links ul{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.icon-container{
    grid-column:4/5  ;
}
.icon-container ul{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon-space{
    background-color: rgb(176, 167, 154);
    padding: 8px;
    border-radius: 2px;
}


li{
    list-style: none;
}

nav ul li .nav-link{
    text-decoration: none;
    color:white;
    font-weight: bold;

}


