.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.address-button{
    border: 1px solid black;
    border-radius:5px;
}
/* index.css */

.profile-container {
    display: flex;
    gap: 20px;
  }
  
  .profile-section {
    flex: 1;
  }
  
  .address-section {
    flex: 1;
  }
  